body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: #282A2C; 
    width: 100%;
    display: grid;

}

svg{
    width: 100%;
    align-self: center;
    justify-self: center;
    /* margin-left: 500px; */
}

svg:hover #logo{
    animation-duration: 1s;
    animation-name: animateLogo;
    animation-iteration-count: infinite;
    animation-direction: alternate;    
}
#logo{
    opacity: 0;
}

@keyframes animateLogo{
    from{
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    to{
        transform: translateX(82px) translateY(-73px);
        opacity: 1;
    }
}

h1{
    padding-top: 5%;
    color: azure;
}

p{
    color: azure;
}

#svg{
    width: 50%;
}